RULES TO ZOOMAN:

1. Intro
Welcome to Zooman! At the start of the game, you have $500 and 0 reputation, and you are at level 1.
The more reputation you have, the more people will come to your zoo!
Your level is dependent on reputation, once you reach a certain threshold for reputation,
you level up and unlock more.

2. Animals
Go to the animal store, and purchase whichever animal suits you.
Get ready to hear that animal too!
Your animals will give you a certain amount of reputation, but they will also cost a certain amount
per day to feed, so be careful.
In addition, each animal requires human labor and care, you want to make sure the total experience
of your employees outweighs the total labor of the animals, otherwise you'll lose reputation and
your animals may be in trouble!

3. Employees
Hire and fire employees as you please. Keep in mind you'll pay them their salary every week, so
maybe don't go ahead giving away jobs.

4. Shops
Your shops will require a certain amount of employees to run. A certain amount of visitors per day will
buy from those shops. You may upgrade the shops to earn more from them. More volatile shops can earn more, but
they are also less consistent.
Consistent sales <-Food and Beverage---Coffee Shop---Zooveneir---Stuffed with Joy---> Volatile sales

5. Ticket price
Starting out, your tickets are free. You won't make any profits at the gate unless you change that.
Go to set ticket price and raise the price of your tickets. The higher the price, the fewer visitors will come,
so try to find a good price.

Good luck with your journey on Zooman!